<section *ngFor="let ss of all_data" class="pt-2">
    <div class="bg-blue-trn p-5 text-center text-white">
        <h2>Checkout</h2>
    </div>

    <section class="container">
            <div class="shadow ">
                <div class="bg-blue p-2  text-white">
                    <h6 class="pl-2">Report Name</h6>
                </div>
              <div class="p-3">
                <h4 >{{ss.Report_title}}.</h4>
                <span class="px-1"><b> Published :</b> {{ss.Publish_date}}</span>
                <span class="px-1"><b> Rep Id :</b> {{ss.Report_id}}</span>
                <span class="px-1"><b> Category</b> :{{ss.Category_id}}</span>
            </div> 
            </div>

           
            <div class=" pt-4">
              <table class="table table-striped" border="1">
                <thead>
                  <tr>
                    <th>Sr No </th>
                    <th>Content Name </th>
                    <th>Prise</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of selected_chapter_data">
                    <td>
                       <b>Chapter</b> </td>
                    <td>
                      <b innerHTML='{{d.Chapter_name}}'></b>
                    </td>
                    <td>{{d.Chapter_price}}</td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td><b>Total </b></td>
                    <td>
                     
                      
                       </td>
                  </tr>
                </tbody>
            </table>
            </div>
              

            <div class="row">

            <div class="col-md-8">
            <div class="jumbotron p-2">   
            <form method="post" role="form" [formGroup]="Requestform" (ngSubmit)="onSubmit()" class=" p-4">
                
                <h4>Personal Details (Secure with us)</h4>
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden"  formControlName="report_id" [(ngModel)]="ss.Report_id" class="form-control">
                        <input type="hidden"  formControlName="report_name" [(ngModel)]="ss.Report_title" class="form-control">
                        <input type="hidden"  formControlName="report_price" [(ngModel)]="ss.Single_user" class="form-control"> 
                        <input type="hidden"  formControlName="report_user" [(ngModel)]="ss.Single_user" class="form-control"> 
                        
                      </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-user"></i>
                              </span>
                            </div>
                            <input type="text" formControlName="name" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"  placeholder="Enter Name..."/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-envelope"></i>
                              </span>
                            </div>
                            <input type="email" formControlName="email" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  placeholder="Work Email..."/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-globe"></i>
                              </span>
                            </div>
                            <select class="form-control border-left-0" formControlName="country_code"   [ngClass]="{ 'is-invalid': submitted && f.country_code.errors }" placeholder="Select Country Code">
                                <option value="" selected>Select Country code  </option>
                                <option value="India">India</option>
                                <option value="USA">USA</option>
                                <option value="France">France</option>
                                <option value="Africa">Africa</option>
                                <option value="Chain">Chain</option>
                                <option value="Canada">Canada</option>
                                <option value="Japan">Japan</option>
                              </select>
                              <div *ngIf="submitted && f.country_code.errors" class="invalid-feedback">
                                <div *ngIf="f.country_code.errors.required">Country code is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-phone"></i>
                              </span>
                            </div>
                            <input type="tel" formControlName="contact" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"  placeholder="Contact No..."/>
                            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                                <div *ngIf="f.contact.errors.required">Contact is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-building"></i>
                              </span>
                            </div>
                            <input type="text" formControlName="company" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.company.errors }"  placeholder="Company Name..."/>
                            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                                <div *ngIf="f.company.errors.required">Company is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-briefcase"></i>
                              </span>
                            </div>
                            <input type="text" formControlName="profession" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.profession.errors }"  placeholder="Enter Profession ..."/>
                            <div *ngIf="submitted && f.profession.errors" class="invalid-feedback">
                                <div *ngIf="f.profession.errors.required">Profession is required</div>
                            </div>
                        </div>
                </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-globe"></i>
                              </span>
                            </div>
                            <select class="form-control border-left-0" formControlName="country"   [ngClass]="{ 'is-invalid': submitted && f.country.errors }" placeholder="Select Country Name">
                                <option value="" selected>Select Country  </option>
                                <option value="India">India</option>
                                <option value="USA">USA</option>
                                <option value="France">France</option>
                                <option value="Africa">Africa</option>
                                <option value="Chain">Chain</option>
                                <option value="Canada">Canada</option>
                                <option value="Japan">Japan</option>
                              </select>
                              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Country is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-building"></i>
                              </span>
                            </div>
                            <select class="form-control border-left-0" formControlName="state"   [ngClass]="{ 'is-invalid': submitted && f.state.errors }" >
                                <option value="" selected>Select State  </option> 
                                <option value="India">India</option>
                                <option value="USA">USA</option>
                                <option value="France">France</option>
                                <option value="Africa">Africa</option>
                                <option value="Chain">Chain</option>
                                <option value="Canada">Canada</option>
                                <option value="Japan">Japan</option>
                              </select>
                              <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">State is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-whatsapp"></i>
                              </span>
                            </div>
                            <input type="tel" formControlName="zip_code" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.zip_code.errors }"  placeholder="Zip Code ..."/>
                            <div *ngIf="submitted && f.zip_code.errors" class="invalid-feedback">
                                <div *ngIf="f.zip_code.errors.required">Zip Code is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group my-3">
                            <div class="input-group-prepend  border-right-0 pt-0">
                              <span class="input-group-text bg-white" style="align-items: flex-start;">
                                <i class="fa fa-address-card"></i>
                              </span>
                            </div>
                            <textarea formControlName="address" class="form-control border-left-0" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"  placeholder="Enter  Address ..." rows="4" ></textarea>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                              <div *ngIf="f.address.errors.required">Address is required</div>
                             </div>
                        </div>
                    </div>
                </div>
              


                <div *ngIf="no==4; else loggedOut">
                    <h4>Click on Payment Methods</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </div>
                        <div class="col-md-9">
                            <div class="text-center">
                                <button type="submit" class="pay"><img src="assets/bank (1).png" alt="bank"  class="border border-primary p-2 m-2" width="140" height="50"></button>
                                <button type="submit" class="pay"><img src="assets/bank (2).png" alt="bank"  class="border border-primary p-2 m-2" width="100" height="50"></button>
                                <button type="submit" class="pay"><img src="assets/bank (3).png" alt="bank" class="border border-primary p-2 m-2"  width="100" height="50"></button>
                            </div>
                        </div>
                    </div>
                </div>
                  
                  <ng-template #loggedOut>
                    <input type="submit" value="Submit" class="btn btn-primary">
                  </ng-template>
                  
            </form>
        </div>
     </div>
     <div class="col-md-4 ">
        <div class="jumbotron p-0 ">
          <h6 class="p-2 text-center">Order Summary</h6>
          <table class="table table-bordered">
              <thead class="bg-blue text-white">
                <tr>
                    <th>Licence Type</th>
                    <th>Quantity</th>
                    <th>Prise</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Enterprize User</td>
                      <td>1</td>
                      <td>$ 4,000</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>Total</td>
                      <td>$ 4,000</td>
                  </tr>
              </tbody>
          </table>
        </div>

    </div>
            </div>
    </section>
</section>








