<section class="contact_img text-white ">
  <div class="row m-1 my-5">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="shadow-lg bg-water text-dark p-5 my-2">
        <h2 class="text-center ">Contact Us</h2>
        <p>We're here to help and answer your question you might have. We look forward to hearing from you.</p>
      </div>
    </div>
  </div>


  <div class="row m-1  justify-content-center">
    <div class="col-md-4 btn-p border border-info border-right-0 m-0 p-0">
      <div class="pl-4">
        <h3 class="p-4 text-center">Let's Get In Touch</h3>
        <p class="text-center">We're open for any suggestion or just hava a chat.</p>

        <div class="text-left text-white">
          <a href="" class="text-white">
            <i class="fa fa-map-marker pr-3"></i>
            <span class="">Address : Office No. 103,</span>
            <br>
            <span class="pl-4">Suratwala Mark Plazzo,</span>
            <br>
            <span class="pl-4">Hinjawadi Village, Hinjawadi,</span>
            <br>
            <span class="pl-4">Pune, MH 411057.</span>
            <br>
          </a>

          <br>
          <a href="" class="text-white">
            <i class="fa fa-phone pr-3"></i> Phone : +91 99239 50043</a>
          <br>
          <br>
          <a href="" class="text-white">
            <i class="fa fa-envelope pr-3"></i>Email : roshni@infiniumglobalresearch.com</a>
          <br>
          <br>
          <a href="" class="text-white">
            <i class="fa fa-skype pr-3"></i> Skype : infiniumglobalresearch</a>
          <br>

        </div>
      </div>
    </div>
    <div class="col-md-5 p-0 m-0">
      <div class="bg-white p-5 border border-left-0">
        <div class=" text-dark text-center">
          <h3>Get In Touch</h3>
          <p>Fill out the form and we'll be in touch as soon as possible.</p>
          <form method="post" role="form" [formGroup]="Requestform" (ngSubmit)="onSubmit()">
            <div class="row ">
              <div class=" col-md-6 form-group">
                <input type="text" formControlName="name" class="form-control b-none" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  placeholder="Enter Name..." />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
              <div class=" col-md-6 form-group">
                <input type="email" formControlName="email" class="form-control b-none" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  placeholder="Enter Email..." />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
              </div>
              <div class=" col-md-6 form-group">
                <select class="form-control b-none" formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                  placeholder="Select your Category">
                  <option value="" selected>Select Country </option>
                  <option value="India">India</option>
                  <option value="USA">USA</option>
                  <option value="France">France</option>
                  <option value="Africa">Africa</option>
                  <option value="Chain">Chain</option>
                  <option value="Canada">Canada</option>
                  <option value="Japan">Japan</option>
                </select>
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                  <div *ngIf="f.country.errors.required">Country is required</div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <input type="tel" formControlName="contact" class="form-control b-none" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
                  placeholder="Contact No..." />
                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                  <div *ngIf="f.contact.errors.required">Contact is required</div>
                </div>
              </div>
              <div class=" col-md-12 form-group">
                <textarea formControlName="message" class="form-control b-none" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
                  placeholder="Enter  Message..." rows="3"></textarea>
                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                  <div *ngIf="f.message.errors.required">Message is required</div>
                </div>
              </div>
              <div class="col-md-3 form-group">
                <div class="input-group  input-group-sm">
                  <input type="text" class="form-control" value="1432" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-refresh"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="input-group mb-3 input-group-sm">
                  <input type="text" class="form-control" placeholder="Enter Captacher Code">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <input type="submit" value="Submit" class="btn btn-to text-white px-3 m-1">


              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</section>


<section class="p-0">
  <h3 class="pl-5">Stay Connceted With Us</h3>
  <div class="pl-5 mb-5 footer">
    <a href="" class="fa fa-facebook px-3"></a>
    <a href="" class="fa fa-twitter"></a>
    <a href="" class="fa fa-youtube"></a>
    <a href="" class="fa fa-instagram"></a>
    <a href="" class="fa fa-linkedin"></a>
    <a href="" class="fa fa-skype"></a>
    <a href="" class="fa fa-pinterest"></a>
  </div>
  <h3 class="pl-5">Find Us</h3>
  <div class="">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1890.8155492379383!2d73.748485!3d18.590663!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef3ffe4ecc151bbd!2sSuratwala%20Mark%20Plazzo!5e0!3m2!1sen!2sin!4v1620712954013!5m2!1sen!2sin"
      width="100%" height="450"></iframe>
  </div>
</section>