<section class="">
    <br>
    <div class="">
        <div class=" container">
            <h2 class="text-center light-gray display-4"><span class="text-blue">A</span>bout Us</h2>
        
            <p class="text-justify ">
                <b style="font-size: 20px;">T</b>oday, the business organizations are going through transformation with 
                competition getting fiercer and business practices becoming more aggressive. 
                Companies that have abilities to fine tune their internal environment and 
                amend themselves to be more competitive only survive, others have a risk of 
                failure or being acquired. Some business organizations are vigorously working 
                on their business strategies to make the most of the competition, while others 
                are striving to survive in the competition and get along.</p>
             <p class="text-justify " >  
                Infinium Global Research and Consulting Solutions is started with a single 
                motto of being business partner of first choice. We at Infinium work on the 
                strengths of our clients to ensure we help them consolidate their market 
                position. We firmly believe in the fact that ‘if you are able to develop 
                newer opportunities then you find there is no dearth of opportunities for 
                you. With our strategic research approaches and deep dive in the market 
                segments, we try to find out new opportunities that our clients can encash 
                with their existing resources. Our experts with over 100 years of cumulative 
                experience in research offer the best in the industry services to our clients 
                to ensure that they achieve their business goals.
            </p>
        </div>
    </div>
</section>
<section class="who-we-are  text-white py-3">

    <div class="row m-1 ">
        <div class="col-md-8 text-white">
            <h1 class="text-center text-white pt-4">
                Who <span class="text-blue">W</span>e Are
            </h1>
            <p class="text-center">
                Infinium Global Research and Consulting Solutions
            </p>
            <p class="text-justify">
                Infinium Global Research is a business consulting and market research firm; 
                a group of experts that caters to fulfilling business and market research 
                needs of leading companies in various industry verticals and business 
                segments. The company also serves government bodies, institutes and 
                non-profit/non-government organizations to meet their knowledge and 
                information needs.
                Through our information services and solutions we assist our clients 
                to improve their performance and assess the market conditions to achieve 
                their organizational goals. Our team of experts and analysts are engaged 
                in continuously monitoring and assessing the market conditions to provide 
                the knowledge support to our clients. To help our clients and to stay 
                updated with the advances and inventions in technology, business processes, 
                regulations and environment, Infinium often conducts regular meets with 
                industry experts and opinion leaders. Our key opinion leaders are involved 
                in monitoring and assessing the progress in the business environment, so 
                as to offer the best opinion to our clients.
            </p>
        </div>
         <div class="col-md-4 pt-5">
            <img src="assets/clients/home_img_1.jpg" alt="infinium" width="100%"  height="360">
        </div>
    </div>
    
</section>

<ul class="nav nav-pills justify-content-center pt-4">
    <li class="nav-item">
      <a class="nav-link border mx-5 mb-2 " data-toggle="pill" href="#Myhome">What We Offer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border mx-5 active" data-toggle="pill" href="#Mymenu1">Who Do We Serve </a>
    </li>
  </ul>

<div class="tab-content">
<section class=" we-offer p-3 tab-pane "  id="Myhome">
    <h2 class="text-center light-gray p-2"><span class="text-blue">W</span>hat We Offer</h2>
    <p class="text-center">
        At Infinium Global Research and Consulting Solutions, we offer 360degree market research and consulting to our clients</p>
<div class="row m-1">
    <div class="col-md-4">
        <h4 class="">Syndicate Studies</h4>
        <p class="text-justify">
            We offer both syndicate market research reports and consult or custom studies. Our syndicate studies cover in-depth analysis of the market, leading players and future prospects of the industry/market. </p>
    </div>
    <div class="col-md-4">
        <h4 class="">What We Do</h4>
        <p class="text-justify">
            The 360 degree approach helps our clients to look beyond the conventional research methods and get the perspectives on the market dynamics, past and current trends in the industry and statistical data and forecasts. Our offerings help our clients take strategic decisions such as new product launch, market entry, diversification, mergers and acquisition and expansion.
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="">Tailor-made Studies</h4>
        <p class="text-justify">
            Our consulting solutions include tailor-made studies as per our client’s needs. We have helped numerous clients hailing from different industries take strategic decision making in their new ventures.</p>
    </div>
   
</div>
</section>

<section class="who-do1 tab-pane active" id="Mymenu1">
    <div class=" p-4 text-center">
<h2 class="light-gray"> Who Do <span class="text-blue">We </span>Serve</h2>
<p class="text-center"> 
    Infinium Global Research and Consulting Solutions has clients including some of the fortune 500 companies and market leaders operating in industries such as -</p>
        <div class="row m-1  ">
            <div class="col-md-2">
                <circle-progress
                    [percent]="80"
                    [radius]="60"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#f0ffff'"
                    [animation]="true"
                    [animationDuration]="1000"
                    ></circle-progress>
                    <p>Agriculture, Food & Beverages 80%</p>
            </div>
            <div class="col-md-2">
                <circle-progress
                [percent]="90"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#0000ff'"
                [innerStrokeColor]="'#f0ffff'"
                [animation]="true"
                [animationDuration]="1000"
                ></circle-progress>
                <p>Chemicals & Materials 90%</p>
            </div> 
            <div class="col-md-2">
                <circle-progress
                [percent]="50"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#f0ffff'"
                [animation]="true"
                [animationDuration]="1000"
                ></circle-progress>
                <p>Consumer Goods & Packaging 50%</p>
            </div> 
            <div class="col-md-2">
                <circle-progress
                [percent]="70"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#00ffff'"
                [innerStrokeColor]="'#f0ffff'"
                [animation]="true"
                [animationDuration]="1000"
                ></circle-progress>  
            <p>Energy, Infra, and Mining 70%</p>
            </div>
            <div class="col-md-2">
                <circle-progress
                [percent]="95"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#40ff00'"
                [innerStrokeColor]="'#f0ffff'"
                [animation]="true"
                [animationDuration]="1000"
                ></circle-progress>
                <p>Healthcare & Medical Devices 95%</p>
            </div>
            <div class="col-md-2">
                <circle-progress
                [percent]="40"
                [radius]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00FF'"
                [innerStrokeColor]="'#f0ffff'"
                [animation]="true"
                [animationDuration]="1000"
                ></circle-progress>
            <p>Information and Communication Technologies 40%</p>
            </div>
        </div>
    </div>
</section>
</div>

<section class="py-5 vision">
    <div class="row m-1 text-center">
        <div class="col-md-4  ">
            <img src="assets/vv (2).png" width="85" height="80" alt="infinium">
              <h2>  Mission</h2>
              <p>To be a partner of first choice for strategic decision support and business intelligence by providing most accurate data and information.</p>
         </div>
        <div class="col-md-4 p-2"></div>
        <div class="col-md-4 ">
           <img src="assets/vv (1).png" width="80" height="80" alt="infinium">
            <h2>  Vision</h2>
            <p>To be one of the Big 4s in the market research and business consulting firms.</p>
        </div>
    </div>
</section> 
    
<section class="customers">
    <h1 class="text-center pt-4 light-gray"><span class="text-blue">O</span>ur Customers</h1>
    <section class="custom-box container">
        <owl-carousel [options]="SlideOptions"  [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="col-md-12  p-3 ">
                <img src="assets/clients/portfolio_img_01.jpg" alt="clients" width="100%" height="130">
                <h4 class="p-2 text-center">Industry Consultants</h4>
                <p> Infinium is emerging as a preferred market research partner by consultants opertating across several industry vertical. We are also offering our services to leading consulting firms to help them obtain timely information and data.</p>
            </div>
            <div class="col-md-12  p-3">
                <img src="assets/clients/portfolio_img_02.jpg" alt="clients" width="100%" height="130">
                <h4 class="text-center p-2">University & Academics</h4>
                <p class="text-justify"> 
                    We have successfully delivered market research and product prototype commercialization solutions to several universities and academic researchers. Infinium is emerging as most trusted partner by these clients.</p>
            </div>
            <div class="col-md-12   p-3">
                <img src="assets/clients/portfolio_img_03.jpg" alt="clients" width="100%" height="130">
                <h4 class="text-center p-2">Fortune 500 Companies</h4>
                <p class="text-justify">
                    We have been serving companies from fortune 500 list, not just that we are expanding our offering to meet the needs of every business irrespective of its size.</p>
            </div>
            <div class="col-md-12  p-3">
                <img src="assets/clients/portfolio_img_01.jpg" alt="clients" width="100%" height="130">
                <h4 class="text-center p-2">Industry Consultants</h4>
                <p> Infinium is emerging as a preferred market research partner by consultants opertating across several industry vertical. We are also offering our services to leading consulting firms to help them obtain timely information and data.</p>
            </div>
            <div class="col-md-12  p-3">
                <img src="assets/clients/portfolio_img_02.jpg" alt="clients" width="100%" height="130">
                <h4 class="text-center p-2">University & Academics</h4>
                <p class="text-justify"> 
                    We have successfully delivered market research and product prototype commercialization solutions to several universities and academic researchers. Infinium is emerging as most trusted partner by these clients.</p>
            </div>
            <div class="col-md-12   p-3">
                <img src="assets/clients/portfolio_img_03.jpg" alt="clients" width="100%" height="130">
                <h4 class="text-center p-2">Fortune 500 Companies</h4>
                <p class="text-justify">
                    We have been serving companies from fortune 500 list, not just that we are expanding our offering to meet the needs of every business irrespective of its size.</p>
            </div>
        </owl-carousel>  
    </section>
</section>

<section class="choose py-5 text-white">
    <div class="container">
        <h2 class="text-center">Why should you choose IGR ?</h2>
        <p class="text-justify">Updated knowledge and latest business trends are key inputs of the modern day business strategies. We not only help our clients with understanding the latest trends in the market but also highlight the historic trends. Our consulting and research services are blend of historic data & trends and modern business trends. We have been engaged in gathering industry data for over the last 2-3 years. Now we are in a position to present to our clients the historic data for over decades coupled with the most recent data so that our clients can readily have an idea of the evolution of the product segments and can implement their business strategies easily. We guide clients toward transformational business growth strategies propelled by innovative technologies, latest trends, and emerging business segments and markets.
        </p>
        <p  class="text-justify">Our team of experts and research analysts is positioned to identify opportunities and motivate our client to devise growth strategies for their future business assignments. Our consulting solutions are backed by extensive research tools, experience and leadership that defines the much needed change and transforms vision to guide change.</p>
    </div>
</section>









