<img src="assets/clients/fid.png" alt="fdi" width="100%" height="333">

<section class="container">
    <div class="text-center pt-5">
        <h2 class="light-gray">FDI <span class="text-blue">S</span>olutions</h2>
        <h3 class="p-4 light-gray">Foreign Direct Investments</h3>
        <p>We have successfully, helped our clients to set up their plants in some of the Asian countries.</p>
    </div>
    <p class="text-justify">Infinium Global Research and Consulting Solutions, now proudly announces to enter into a new consulting segment i.e. FDI solutions. We at Infinium, now have SMEs that help companies in evaluating and analyzing the investment opportunities across several countries in the world. Our group of experts now advise our clients on various points such as merger and acquisitions, new plant set up, joint ventures and others. We have successfully, helped our clients to set up their plants in some of the Asian countries. The company now has experts situated across various countries in the world.</p>

    <h4 class="text-center p-4 light-gray">Now get a support from our experts based in</h4>

    <div class="card-deck">
        
        
            <div class="card">
                <div class="card-body">
                    <h4>Europe</h4>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker px-1"></i> Germany</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker  px-1"></i>France</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker  px-1"></i>United Kingdom</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker  px-1"></i>Italy</span></a>
                    <a [routerLink]="['/contact']"   class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker px-1"></i>Ireland</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker px-1"></i>Scotland</span></a>
                    <a [routerLink]="['/contact']"  class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker px-1"></i>Spain</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker  px-1"></i>Switzerland</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker  px-1"></i>Sweden</span></a>
                    <a [routerLink]="['/contact']" class="btn btn-outline-warning m-1 btn-sm"><span ><i class="fa fa-map-marker px-1"></i>Rest of Europe</span></a>
                    
                </div>
            </div>
       
            <div class="card">
                <div class="card-body">
            <h4>Asia-Pacific</h4>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> India</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> China</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Japan</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Australia and New Zealand</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Indonesia</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Philippines</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Thailand</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i>Vietnam</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-primary m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Rest of Asia-Pacific</span> </a>
            </div>
          </div>
       
            <div class="card">
              <div class="card-body">
            <h4> Latin America</h4>
            <a [routerLink]="['/contact']" class="btn btn-outline-success m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Mexico</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-success m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Brazil</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-success m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Argentina        </span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-success m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Argentina</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-success m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i>Chile</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-success m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Others</span> </a>
    
            <h4> North America</h4>
            <a [routerLink]="['/contact']" class="btn btn-outline-info m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> The U.S.A</span> </a>
            <a [routerLink]="['/contact']" class="btn btn-outline-info m-1 btn-sm"> <span > <i class="fa fa-map-marker px-1"></i> Canada</span> </a>
                </div>
            </div>    
    </div>
</section>

<section class="container bg-dark text-white py-5 my-3">
    <h3 class="text-center">Merger and Acquisition Solutions</h3>
    <p class="text-center">Infinium Global Research and Consulting Solutions, now assists clients in making choices for acquiring the firms in India and other countries based in the Asian sub-continent. We are also looking to install our foot print in these services across various countries in the world.</p>
   
    <div class="row">
       <div class="col-md-6">
            <img src="assets/clients/SEC0915-cyber-slide2_900px.jpg" alt="infinium" class="img-thumbnail">
       </div>
       <div class="col-md-6">
            <h6>Our primary Merger and Acquisition solutions now include</h6>

             <p> <i class="fa fa-bar-chart pr-3"></i>  Growth Market Assessment</p>
             <p> <i class="fa fa-puzzle-piece pr-3"></i>  Determining the Merger/Acquisition Candidate</p>
             <p> <i class="fa fa-building pr-3"></i>  Valuation of the Firms</p>
             <p> <i class="fa fa-clipboard pr-3"></i>  Legal and Regulatory Assessments</p>
             <p> <i class="fa fa-pencil pr-3"></i>  Implementing Due Diligence, Negotiation and Agreement</p>
             <p> <i class="fa fa-exchange pr-3"></i>  Execute Transaction</p>
       </div>
   </div>
   <div class="text-center p-3">
        <a href="" class="btn btn-warning text-uppercase">get started</a>
    </div>
</section>