<section class="container pt-4">
    <h2 class="text-center text-uppercase  light-gray">IGR <span class="text-blue">Growth</span>  Matrix</h2>
    <p class="text-center p-2">IGR-Growth Matrix helps to understand the market situation of the business segments.</p>
    <div class="row m-1">
        <div class="col-md-7">
            <p class="text-justify">
                Growth matrix developed by Infinium Global Research, also known as IGR-Growth Matrix 
                helps to understand the market situation of the business segments. It helps to identify 
                the most attractive segment for investment purposes and helps the companies to make better decisions in strategy making. The IGR- Growth Matrix presents the zones that define the position of the product segment and application segment 
                based on the market size, growth anticipated and the growth factors & historic growth.
            </p>
        
            <img src="assets/clients/matrix_img_1.png" alt="infinium" class="img-thumbnail" width="100%" height="100%">
        </div>
        <div class="col-md-5 text-justify bg-dark text-white p-4">
            <h4>Following are the Zones that IGR- Growth Matrix Considers</h4>
            <p><i class="fa fa-check"></i> <b> Risky Zone : </b> Low market size and low growth rate. Investment in this segment is risky.</p>
            <p><i class="fa fa-check "></i> <b> Consolidation Zone : </b> High growth rate and high market size, the companies operating in the segments that have a high market size and high growth should focus on consolidating their market position in these segments. Mergers and acquisitions, extensive marketing programs, and new product developments can be used as marketing strategies to consolidate the market in these segments. </p>
            <p><i class="fa fa-check "></i> <b> Retention Zone : </b>  High market size and low growth rate, the companies operating in this segment should retain their investments in this segment. Companies may focus on extensive marketing and advertisements.</p>
            <p><i class="fa fa-check "></i> <b> Opportunity Zone : </b>  High growth in low market size.</p>
            <p><i class="fa fa-check "></i> <b> Safe Zone : </b>  Moderate growth and moderate market size.</p> 
        </div>
    </div>
</section>