<section class="container p-0 pt-3" >
    <div class="row m-1">
        <div class="col-md-6">
          <img src="assets/clients/Uni-Portal_logo_png-2.png" alt="logo" width="200" height="70">
        </div>
        <div class="col-md-6 text-right align-items-center d-flex justify-content-end">
            <button class="btn btn-outline-success mx-1">Log in</button>
            <button class="btn btn-outline-warning mx-1">Register</button>
            
        </div>
      </div>
</section>
<section class=" mycolor2 text-white ">

    <section class="container py-4" >
        <div class="row m-1">
            <div class="col-md-4">
                <div class="bg-white shadow-my p-2 py-5 radius-1 mb-5 text-center">
                    <img src="assets/clients/Uni-Portal_logo_png-2.png" alt="logo" width="200" height="70">
                    <!--<h4 class="text-center text-primary ">Uni Portal </h4>-->
                    <form action="">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Name " id="name">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter Email" id="email">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter Number" id="number">
                        </div>
                        <div class="form-group">
                           <textarea name="massage" id="" cols="30" rows="3" placeholder="Enter Messages" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
            <div class="col-md-8  text-center">
                <h4 class="p-2">Uniportal-Benefits for Students</h4>
                <p>Access all the High-Quality Market Research Articles & Reports for your assignments & Dissertations. Articles are listed category-wise in the E-Library of Market Research Reports & Articles.</p>
                <a href="" class="btn btn-outline-warning">Read More </a>
                <h4 class="p-2">Uniportal-Benefits for Business</h4>
                <p>Access & Download all the Market Research Reports & Articles category-wise. Get company profiles on demand and request customized reports.</p>
                <a href="" class="btn btn-outline-warning"> Read More </a>
            </div>
        </div>
    </section>
</section>