<section>
    

<div class="container">
    <h1 class="text-center light-gray pt-3"><span class="text-blue">R</span>esearch Services</h1>
    <div id="">
      <div class="card ">
        <div class="card-header" data-toggle="collapse" href="#collapseOne">
          <a class="card-link" >
            <i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>
            Syndicated Research
          </a>
        </div>
        <div id="collapseOne" class="collapse show" >
          <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                  <img src="assets/clients/process_img_1.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-8">
                  <p class="text-justify">
                      Infinium Global Research and Consulting Solutions, publishes syndicate reports
                      on regular basis. Syndicate studies include analysis of industries and market 
                      segments identified by Infinium’s expert team, the TOC is finalized on the basis
                      of feasibility study performed by the experts. Our syndicate studies cater to 
                      business verticals from various sectors such as Energy, Power, and
                      Infrastructure; Food and Beverages, Agriculture and Animal Feed; Chemicals
                      and Materials, Healthcare, Information and communication technologies, and
                      Packaging. The syndicate studies are based on extensive primary and 
                      secondary research methods. Our syndicate studies are based on inductive 
                      research approaches that help us develop new theories.
                    </p>
                </div>
            </div>
              
             </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
          <a class="collapsed card-link" >
            <i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>
            Custom Research
        </a>
        </div>
        <div id="collapseTwo" class="collapse show" >
          <div class="card-body">
            <div class="row">
                
                <div class="col-md-8">
                  <p class="text-justify">
                    In custom research service, Infinium global research offers customization 
                    of the research that has been purchased by the client. We offer free 
                    customization up to 10% of the scope of the report. Customization also includes 
                    modification of the TOC and custom study in accordance with the client’s requirement. 
                    The custom research is performed with the similar research methods that are used for 
                    syndicate research, in some cases it may require to focus more on primary research 
                    methods. In such cases, our experts involve in extensive conversation with the key 
                    opinion leaders in the industry. This not only helps us build concrete agreements 
                    but also offer a solution that is apt for our clients to take strategic decisions.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/clients/process_img_2.jpg" alt="" class="img-thumbnail">
                  </div>
            </div>
         </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-header "data-toggle="collapse" href="#collapseThree">
          <a class="collapsed card-link" > 
            <i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>
                Consulting Assignment
          </a>
        </div>
        <div id="collapseThree" class="collapse show" >
          <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                  <img src="assets/clients/process_img_3.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-8">
                  <p class="text-justify">
                    Consulting assignments also refer to the client sponsored research studies. 
                    The scope and timeline are decided by the clients who sponsor the study. The 
                    consulting assignments are undertaken by the experts who are specialized in 
                    the domains and industry verticals such as food and beverages, animal feed, 
                    agriculture, chemicals, materials, medical devices, pharmaceuticals, healthcare 
                    IT, information technology, semiconductors, communication technologies and 
                    packaging. The arrangements can also be made wherein our representatives will 
                    closely work in association with the client to expedite the research/study. At 
                    Infinium our goal is to be 
                    knowledge partner of first choice and we offer our clients dedicated support.
                    </p>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
      
</section>