<section class="artical-img" *ngFor="let aa of arr">
    <h3 class="text-center py-5 text-white " innerHTML="{{aa.Report_title}}"></h3>
    <section class="container  ">
        <section class="border border-primary bg-white p-3" >
      <h4 class="text-center py-3"innerHTML="{{aa.Report_title}}"></h4>
    <p class="text-justify" innerHTML="{{aa.Short_Description}}"></p>
    <p class="text-justify" innerHTML="{{aa.Description}}"></p>
    <p class="text-justify" innerHTML="{{aa.Meta_title}}"></p>
    <p class="text-justify" innerHTML="{{aa.Meta_description}}"></p>
    <p class="text-justify" innerHTML="{{aa.Meta_keyword}}"></p>
    <p class="text-justify" innerHTML="{{aa.Url_path}}"></p>
    
    <b>Uniportal license plans and pricing:</b>
     <b>1.      Industrial User Single License: USD 7999/ year</b>
     <ul>
      <li> Access to all reports/articles</li>
      <li> Access to reports by Category</li>
      <li> Download articles/reports</li>
      <li> Customization request</li>
    </ul>
    <b>2.      Industrial User Enterprise License: USD 15999/ year</b>
    <ul>
      <li> Access to all reports</li>
      <li> Access to reports by Category</li>
      <li> Download articles/reports</li>
      <li> Company profiles on demand</li>
      <li> Customization request</li>
    </ul>
    <b> request the demo and to subscribe to Infinium Global Research’s “Uniportal: An E-Library of Market Research Reports”, click on the link below:</b>
    <br>
    <a href="">https://uni-portal.infiniumglobalresearch.com/</a><br>
    <b>If you are an entrepreneur and require some consultancy for your business, click on the link below:</b><br>
    <a href="">https://www.infiniumglobalresearch.com/contact-form</a><br>
    <b>Author: Infinium Global Research </b><br>
    <a href="">info@infiniumglobalresearch.com</a><br>
  </section>
  </section>
  </section>