<section class="container text-justify mt-5">
   <div class="card">
    <div class="card-header bg-primary text-white">
        <h3 class="text-center">Privacy Policy</h3>
    </div>
    <div class="card-body">
    <h4 class="p-3 text-center">Privacy Policy</h4>
    <p class="text-center">IGR fully respects individual rights and interests and safeguards the same.</p>
    <p>Infinium Global Research (IGR) promises its clients and subscribers that the information that they share with us is secure and will not be shared with any of the third parties at any circumstances. IGR fully respects individual rights and interests and safeguards the same. We do not share any of the personal information such as name, contact details, company and designation to any of the third parties. Any changes and updates in the client's information is done only upon confirmation by the client. The individuals subscribing to our media releases and newsletters are entitled to receive promotional updates from Infinium Global Research about the research assignments and reports.</p>
    <p>Please also note that Infinium Global Research updates and changes in the privacy policy from time to time. Hence we advise you to visit our page on a regular basis to keep yourselves updated about the changes in the privacy policy.</p>
    </div>
   </div>
</section>