<section class="row m-1 justify-content-center bg-light">
   <div class="col-md-4  ">
      <div class="border p-5 text-center box-md  bg-white shadow">
         <i class="fa fa-check p-3 bg-tomoto text-white rounded-circle"></i>
         <h2 class="text py-3">THANK YOU</h2>
         <p>Your form has been submited successfully !<br> We will contact you shortly .</p>
         <button class="btn btn-p text-white px-2">Back To Homepage</button><br>
         <small>For quick assistence , Mail us : <a href="">roshni@infiniumgloblereachrech.com</a></small>
      </div>
   </div>
</section>


