
<div class="color_box d-flex justify-content-center align-items-center bg-primary text-white" style="height: 200px;">
    <h3>Refund and Cancellation Policy</h3>
</div>
<section class=" " style="position: relative; top:-70px;">
    
            <div class="text-justify container bg-white border border-primary">
                <div class=" p-3">
                    <h3 class="text-center text-primary py-3">Refund and Cancellation Policy</h3>
                    <p class="text-center">Infinium Global Research does not grant any returns once the reports are dispatched.</p>
                    <p>Infinium Global Research reports are based on industry standards and clients' requirements. Our reports are based on secondary research as well as primary research and are subject to the availability of the information and data sources. Infinium Global Research assures the reliability and accuracy of the information. Considering the nature of the products Infinium Global Research does not grant any returns once the reports are dispatched. In case of missing or mismatching or incomplete data Infinium Global Research will provide free customization to match with client’s requirements. In addition, the client will be given 1-hour free time of the analysts if required.</p>
                    <b class="text-primary">Disclaimer:</b>
                    <p>Reports, articles and other publications of Infinium Global Research are based on the primary information sources as well as secondary information sources; therefore the information and forecasts are subject to change or fluctuate. Infinium Global Research does not guaranty 100% accuracy of the forecasts as the assumptions of the study may vary depending on the scope of the study.</p>
                    <p>The analysis or data provided by Infinium Global Research is for the internal use only and not for resell or third party disclosure. Violation of this agreement is likely to attract legal action on the parties undertaking such acts.</p>
                    <p>No part or data given in the report should be resold, published or disclosed to third party without any permission of Infinium Global Research. Infinium Global Research would be pleased to assist the client if they wish to publish the information or data on public portals or they wish to disclose the same to the third party.</p>
                    <p class="text-center">For more information about the disclaimer policy or publication rights please contact us:<br> <a href="">info@infiniumglobalresearch.com</a></p>   
                </div>
    </div>
</section>